*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://cdn.wallpapersafari.com/91/49/wXmxde.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header h1 {
    text-align: center;
    font-family: 'Passion One', cursive;
    color: rgba(207, 96, 32, 0.932);
    font-size: 70px;
}

menu ul li {
    display: inline;
    padding-left: 40px;
    list-style-type: none;
}
menu{
    padding-left: 480px;
    
    
}
menu ul li a {
    color: hsl(239, 100%, 54%);
    text-decoration: none;
}

menu ul {
    list-style-type: none;
    overflow: hidden;
}
li a:hover:not(.active) {
    background-color: rgb(20, 221, 37);
}
.active {
    background-color: #04AA6D;
}

section img {
    padding-left: 390px;
}

#wiki {
    padding-left: 390px;
}

#quotes {
    text-align: center;
}

#quotes span{
    background-color: crimson;
}

#credit span{
    background-color: black;
    color: white;
    text-align: center;

}
#credit {
    text-align: center;
}
